.metaversation-linkbox, .metaversation-links-to, .metaversation-links-from {
	top: 1em;
	position: fixed;
	background: white;
	border: 1px solid black;
	z-index: 80;
}
.metaversation-linkbox > form > * {
	display: block;
}
.metaversation-links-to .ul, .metaversation-links-from .ul {
	position: fixed;
	display: inline-block;
	min-width: 40ex;
}

.metaversation-links-to {
	left: 1em;
}
.metaversation-links-from {
	right: 1em;
}
